body{
    color: white;
    background:Black;
    margin:0px;
    font-family: "Chakra Petch", sans-serif;
}

header{
    border-bottom: solid 2px rgb(47,114,30);
    padding:20px;
    font-size: 32px;
    color: rgb (47,144,30);

}
.chamada {
    background:rgb(116,217,214);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}   
    
.chamada-texto {
    margin-right: 5%;
}
    
h1{
    font-size:40px;
}

p{
    font-size:20px;
}
img{
    height:200px;
}

.categoria-videos{
    display:flex;
    overflow-x:auto;
    gap:10px;
}

.categoria {
padding-left: 20px;
padding-right: 20px;
}